.drinks-page {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
  }
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* font-family: Poppins; */
    /* font-family: "Halis GR", sans-serif; */
    background: #1e1e1e;
  }

  .options-tea {
    position: relative;
    width: 275px;
    height: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Semi-transparent dark background */
    overflow-y: scroll; /* Enable scrolling */
    /* backdrop-filter: blur(10px);  */
    /* border-radius: 8px; */
    border-right: 1px solid #ccc;

    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding-top: 10px; /* Add padding to avoid options-tea touching the edges */
  }

  /* Hide scrollbar for Webkit-based browsers (Chrome, Safari) */
  .options-tea::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Hide scrollbar for Firefox */
  .options-tea {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  /* Style for the individual options-tea */
  .options-tea > div {
    width: 90%; /* Add some padding on the sides */
    margin-bottom: 10px; /* Space between options-tea */
    padding: 12px;
    text-align: center;
    font-size: 16px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */

    color: grey; /* Light text color */
    border-radius: 0px; /* Rounded corners for a modern touch */
  }

  .options-tea > div:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    transform: scale(1.05);
  }

  /* Style for the selected option */
  .options-tea .selected {
    /* background: rgba(255, 255, 255, 0.3);  */
    color: #000000;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3); /* Add 45-degree text shadow */
  }

  .options-coffee {
    position: relative;
    width: 250px;
    height: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Semi-transparent dark background */
    overflow-y: scroll; /* Enable scrolling */
    /* backdrop-filter: blur(10px);  */
    /* border-radius: 8px; */
    border-left: 1px solid #ccc; /* Add a light grey border */

    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding-top: 10px; /* Add padding to avoid options-coffee touching the edges */
  }

  /* Hide scrollbar for Webkit-based browsers (Chrome, Safari) */
  .options-coffee::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Hide scrollbar for Firefox */
  .options-coffee {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  /* Style for the individual options-coffee */
  .options-coffee > div {
    width: 90%; /* Add some padding on the sides */
    margin-bottom: 10px; /* Space between options-coffee */
    padding: 12px;
    text-align: center;
    font-size: 16px;
    transition: all 0.3s ease; /* Smooth transition for hover effects */

    color: grey; /* Light text color */
    border-radius: 0px; /* Rounded corners for a modern touch */
  }

  .options-coffee > div:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    transform: scale(1.05);
  }

  /* Style for the selected option */
  .options-coffee .selected {
    /* background: rgba(255, 255, 255, 0.3);  */
    color: #000000;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3); /* Add 45-degree text shadow */
  }

  .wrapper-tea {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg, #fdfbf7, #fdfbf7); */
    /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15); */
    border-radius: 15px;
    transform: translateY(-5px);
    perspective: 1000px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .wrapper-tea::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    background: rgba(128, 128, 128, 0.1); /* semi-transparent grey */
    border-radius: 50%;
    z-index: -1; /* Ensure it is behind the wrapper */
    backdrop-filter: blur(10px); /* Apply glass effect */
    -webkit-backdrop-filter: blur(10px); /* For WebKit browsers */
  }

  .wrapper-tea:hover {
    transform: rotateX(15deg) rotateY(15deg);
    box-shadow: 0 0 10px rgba(255, 204, 153, 0.8),
      /* Warm cream color closer to the object */ 0 0 20px
        rgba(255, 178, 102, 0.6),
      /* Soft orange light */ 0 0 40px rgba(204, 102, 51, 0.4),
      /* Warmer, deeper orange */ 0 0 80px rgba(153, 76, 0, 0.2),
      /* Darker brown-orange */ 0 0 160px rgba(102, 51, 0, 0.1); /* Very diffused, almost brown */
  }

  .wrapper-coffee {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg, #f9f6f0, #f9f6f0); */
    /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15); */
    border-radius: 15px;
    transform: translateY(-5px);
    perspective: 1000px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .wrapper-coffee::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    background: rgba(128, 128, 128, 0.1); /* semi-transparent grey */
    border-radius: 50%;
    z-index: -1; /* Ensure it is behind the wrapper */
    backdrop-filter: blur(10px); /* Apply glass effect */
    -webkit-backdrop-filter: blur(10px); /* For WebKit browsers */
  }

  .wrapper-coffee:hover {
    transform: rotateX(15deg) rotateY(15deg);
    box-shadow: 0 0 10px rgba(255, 204, 153, 0.8),
      /* Warm cream color closer to the object */ 0 0 20px
        rgba(255, 178, 102, 0.6),
      /* Soft orange light */ 0 0 40px rgba(204, 102, 51, 0.4),
      /* Warmer, deeper orange */ 0 0 80px rgba(153, 76, 0, 0.2),
      /* Darker brown-orange */ 0 0 160px rgba(102, 51, 0, 0.1); /* Very diffused, almost brown */
  }

  /* .wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    user-select: none;
  }

  .wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  } */

  .shadow {
    position: absolute;
    top: 65%;
    left: 12%;
    width: 55%;
    height: 25px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.05);
    background: repeating-linear-gradient(
        -45deg,
        #0002,
        #0002 1px,
        #0000 1px,
        #0000 3px
      ),
      repeating-linear-gradient(45deg, #0002, #0002 1px, #0000 1px, #0000 3px);
  }

  .title {
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7%;
    margin: auto;
    display: flex;
    /* color: rgba(51, 51, 51, 1); */
    text-align: center;

    font-size: 20px;
    /* text-shadow: 0 0 3px rgba(255, 255, 255, 0.5), 0 0px 1px rgba(0, 0, 0, 0.7); */
  }
  .cup {
    width: 160px;
    height: 162px;
    position: relative;
  }
  .contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: rgba(247, 247, 247, 0.9);
    clip-path: path(
      "m 0 0 q 4.59 145.8 34.425 155.52 c 29.835 8.1 68.85 8.1 96.39 0 q 29.835 -9.72 29.835 -155.52 C 143 11 16 13 0 0 Z"
    );
  }
  .contents::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    box-shadow: inset -18px 0px 4px -10px rgba(255, 255, 255, 0.7),
      inset 42px -22px 12px -10px rgba(0, 0, 0, 0.03),
      inset 0 -22px 12px -10px rgba(0, 0, 0, 0.2),
      inset 20px 0 10px -10px rgba(0, 0, 0, 0.2);
  }
  .cup::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: -10px;
    width: 100%;
    height: 20px;
    background: linear-gradient(
      63deg,
      rgba(253, 253, 253, 0.7) 9%,
      rgba(238, 238, 238, 0.7) 100%
    );
    border-radius: 50%;
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05),
      inset 0 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .cup::after {
    content: "";
    background: #fff;
    width: 0%;
    height: 0%;
    scale: 1.15 0.7;
    transform-origin: 0% 0%;
    z-index: 1;
    position: absolute;
    top: 0;
  }

  .contents
    :is(
      .foam,
      .cream,
      .steamed-milk,
      .milk,
      .chocolate,
      .sugar,
      .whiskey,
      .water,
      .gelato,
      .espresso,
      .coffee,
      .tea,
      .topping,
      .fruits
    ) {
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50% / 20%;
    font-size: 12px;
    transition: all 1s ease-in-out;
    opacity: 0.94;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    color: rgba(0, 0, 0, 0);
    margin: 0 auto;
  }
  .contents
    :is(
      .foam,
      .cream,
      .steamed-milk,
      .milk,
      .chocolate,
      .sugar,
      .whiskey,
      .water,
      .espresso,
      .coffee,
      .tea,
      .topping,
      .fruits
    )::before {
    content: "";
    display: block;
    width: 100%;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    transition: all 1s ease-in-out;
    opacity: 0.1;
    background: white;
    z-index: inherit;
  }
  .contents :is(.foam, .cream, .steamed-milk, .milk)::before {
    background: rgb(141, 141, 141);
  }

  .contents .foam {
    background: #ffffff;
    z-index: 12;
  }
  .contents .cream {
    background: #fffbe7;
    z-index: 11;
  }
  .contents .steamed-milk {
    background: #fffcf8;
    z-index: 10;
  }
  .contents .milk {
    background: #f8f2e8;
    z-index: 9;
  }
  .contents .chocolate {
    background: #47260a;
    z-index: 8;
  }
  .contents .sugar {
    background: #ffffff;
    z-index: 7;
  }
  .contents .whiskey {
    background: rgba(207, 129, 39, 0.8);
    color: #fff;
    z-index: 6;
  }
  .contents .water {
    background: #e5f7ff;
    z-index: 5;
  }
  .contents .coffee {
    background: #5a341a;
    z-index: 4;
  }

  .contents .tea {
    background: #6ba36c;
    z-index: 4;
  }

  .contents .topping {
    background: #f6d193;
    z-index: 3;
  }

  .contents .fruits {
    background: #ff6174;
    z-index: 3;
  }
  .contents .gelato {
    background: #fcf9ea;
    z-index: 10;
  }
  .contents .espresso {
    background: #462814;
    z-index: 3;
  }
  .contents .espresso span {
    display: none;
  }

  /* Tea */
  .tea .tea {
    height: 90%;
    border-radius: 50% / 10%;
    padding-top: 0px;
    color: rgb(0, 0, 0);
  }
  .tea .tea::before {
    opacity: 0.1;
    background: white;
    top: 0%;
  }

  /* Cheese Tea */

  .cheese-tea .tea {
    color: rgb(0, 0, 0);
    height: 60%;
    margin-top: -21px;
    padding-top: 20px;
  }
  .cheese-tea .tea::before {
    background: none;
  }
  .cheese-tea .foam {
    color: rgba(0, 0, 0, 1);
    height: 40%;
    margin-top: -20px;
    padding-top: 20px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .cheese-tea .foam::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }

  /* fruits tea */

  .fruits-tea .tea {
    color: rgba(0, 0, 0, 1);
    height: 60%;
    padding-top: 20px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .fruits-tea .tea::before {
    background: #6ba36c;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
    top: 0;
  }
  .fruits-tea .fruits {
    color: rgba(255, 255, 255, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
  }

  /* Milk Tea */
  .milk-tea .milk {
    height: 40%;
    color: rgba(0, 0, 0, 1);
    height: 40%;
    padding-top: 20px;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .milk-tea .tea {
    height: 60%;
    color: rgb(0, 0, 0); /* Tea color */
    margin-top: -21px;
    padding-top: 20px;
  }
  .milk-tea .milk::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }

  /* Milk Tea with Toppings */

  .milk-tea-with-toppings .topping {
    color: rgba(255, 255, 255, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
  }
  .milk-tea-with-toppings .topping::before {
    top: -33%;
  }
  .milk-tea-with-toppings .tea {
    color: rgba(0, 0, 0, 1);
    height: 40%;
    margin-top: -20px;
    padding-top: 20px;
  }
  .milk-tea-with-toppings .milk {
    color: rgba(0, 0, 0, 1);
    height: 40%;
    padding-top: 20px;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .milk-tea-with-toppings .milk::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }

  /* Milk Tea with Coffee */

  .yuan-yang .espresso {
    color: rgba(255, 255, 255, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
  }
  .yuan-yang .topping::before {
    top: -33%;
  }
  .yuan-yang .tea {
    color: rgba(0, 0, 0, 1);
    height: 40%;
    margin-top: -20px;
    padding-top: 20px;
  }
  .yuan-yang .milk {
    color: rgba(0, 0, 0, 1);
    height: 40%;
    padding-top: 20px;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .yuan-yang .milk::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }

  /* Milk Tea with Ice cream */

  .milk-tea-with-ice-cream .gelato {
    opacity: 1;
    color: rgba(0, 0, 0, 1);
    height: 25%;
    padding-top: 10px;
    width: 75%;
    border-radius: 100% 100% 50% 50%;
    border: 1px dashed rgba(75, 75, 75, 0.5);
    border-bottom: none;
  }

  .milk-tea-with-ice-cream .milk {
    margin-top: -16px;
    color: rgba(0, 0, 0, 1);
    height: 30%;
    padding-top: 20px;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    /* border-top: 1px dashed rgba(75, 75, 75, 0.3); */
  }
  .milk-tea-with-ice-cream .tea {
    height: 60%;
    color: rgb(0, 0, 0); /* Tea color */
    margin-top: -21px;
    padding-top: 20px;
  }
  .milk-tea-with-ice-cream .milk::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }

  /* Black Coffee */
  .black .coffee {
    height: 90%;
    border-radius: 50% / 10%;
    padding-top: 0px;
    color: rgba(255, 255, 255, 1);
  }
  .black .coffee::before {
    opacity: 0.1;
    background: white;
    top: 0%;
  }

  /* Latte */
  .latte .espresso {
    color: rgba(255, 255, 255, 1);
    height: 30%;
    padding-top: 12px;
    margin-top: -20px;
  }
  .latte .steamed-milk {
    color: rgba(0, 0, 0, 1);
    height: 60%;
    margin-top: -20px;
    padding-top: 12px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .latte .foam {
    color: rgba(0, 0, 0, 1);
    height: 24%;
    padding-top: 22px;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .latte .foam::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }

  /* Flat White */
  .flat-white .espresso {
    color: rgba(255, 255, 255, 1);
    height: 40%;
    margin-top: -21px;
    padding-top: 20px;
  }
  .flat-white .espresso::before {
    background: none;
  }
  .flat-white .steamed-milk {
    color: rgba(0, 0, 0, 1);
    height: 40%;
    margin-top: -20px;
    padding-top: 20px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .flat-white .steamed-milk::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }

  /* Cappuccino */
  .cappuccino .espresso {
    color: rgba(255, 255, 255, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
  }
  .cappuccino .espresso::before {
    top: -33%;
  }
  .cappuccino .steamed-milk {
    color: rgba(0, 0, 0, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
  }
  .cappuccino .foam {
    color: rgba(0, 0, 0, 1);
    height: 40%;
    padding-top: 20px;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .cappuccino .foam::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }

  /* Americano */
  .americano .water {
    color: rgba(0, 0, 0, 1);
    height: 60%;
    padding-top: 20px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .americano .water::before {
    background: #eff9fd;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
    top: 0;
  }
  .americano .espresso {
    color: rgba(255, 255, 255, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
  }

  /* Espresso */
  .cup.espresso .espresso {
    color: rgba(255, 255, 255, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
  }
  .cup.espresso .espresso::before {
    background: #9e4a12;
    opacity: 0.4;
  }

  /* Doppio */
  .doppio .espresso {
    color: rgba(255, 255, 255, 1);
    height: 40%;
    padding-top: 10px;
  }
  .doppio .espresso::before {
    background: #9e4a12;
    opacity: 0.4;
  }
  .doppio .espresso span {
    display: contents;
  }

  /* Cortado */
  .cortado .steamed-milk {
    color: rgba(0, 0, 0, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .cortado .steamed-milk::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }
  .cortado .espresso {
    color: rgba(255, 255, 255, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
  }

  /* Macchiato */
  .macchiato .foam::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }
  .macchiato .foam {
    color: rgba(0, 0, 0, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .macchiato .espresso {
    color: rgba(255, 255, 255, 1);
    height: 30%;
    margin-top: -20px;
    padding-top: 20px;
  }

  /* Mocha */
  .mocha .steamed-milk {
    color: rgba(0, 0, 0, 1);
    height: 40%;
    margin-top: -20px;
    padding-top: 20px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .mocha .steamed-milk::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }
  .mocha .chocolate {
    color: rgba(255, 255, 255, 1);
    height: 25%;
    margin-top: -20px;
    padding-top: 20px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  }
  .mocha .espresso {
    color: rgba(255, 255, 255, 1);
    height: 40%;
    margin-top: -21px;
    padding-top: 20px;
  }
  .mocha .espresso::before {
    background: none;
  }

  /* Affogato */
  .affogato .gelato {
    opacity: 1;
    color: rgba(0, 0, 0, 1);
    height: 30%;
    padding-top: 10px;
    width: 60%;
    border-radius: 100% 100% 50% 50%;
    border: 1px dashed rgba(75, 75, 75, 0.5);
    border-bottom: none;
  }
  .affogato .espresso {
    margin-top: -16px;
    color: rgba(255, 255, 255, 1);
    height: 30%;
    padding-top: 10px;
  }
  .affogato .espresso::before {
    background: #9e4a12;
    opacity: 0.4;
  }

  /* Con Panna */
  .con-panna .cream {
    color: rgba(0, 0, 0, 1);
    height: 24%;
    padding-top: 20px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .con-panna .cream::before {
    background: #fcf9ea;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }
  .con-panna .espresso {
    margin-top: -16px;
    color: rgba(255, 255, 255, 1);
    height: 40%;
    padding-top: 10px;
  }
  .con-panna .espresso::before {
    opacity: 0;
  }

  /* Cafe Au Lait */
  .cafe-au-lait .steamed-milk {
    color: rgba(0, 0, 0, 1);
    height: 50%;
    padding-top: 10px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .cafe-au-lait .steamed-milk::before {
    background: #faf8f5;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }
  .cafe-au-lait .coffee {
    margin-top: -16px;
    color: rgba(255, 255, 255, 1);
    height: 50%;
    padding-top: 10px;
  }

  /* Irish */
  .irish .cream {
    color: rgba(0, 0, 0, 1);
    height: 24%;
    padding-top: 20px;
    border-top: 1px dashed rgba(75, 75, 75, 0.3);
  }
  .irish .cream::before {
    background: #fcf9ea;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }
  .irish .sugar {
    color: rgba(0, 0, 0, 1);
    height: 22%;
    margin-top: -18px;
    padding-top: 20px;
  }
  .irish .sugar::before {
    background: #fcf9ea;
    border-bottom: 1px dashed rgba(75, 75, 75, 0.5);
    opacity: 1;
  }
  .irish .whiskey {
    color: rgba(255, 255, 255, 1);
    height: 30%;
    margin-top: -18px;
    padding-top: 10px;
  }
  .irish .coffee {
    margin-top: -18px;
    color: rgba(255, 255, 255, 1);
    height: 40%;
    padding-top: 10px;
  }
  .irish .coffee::before {
    opacity: 0;
  }
}
